{% extends 'layouts/base.html' %} {% load static %} {% block content %}

<style>
  .content-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .upload-section {
    width: 45%;
  }
  .document-list {
    width: 45%;
  }
</style>

<!-- [ Main Content ] start -->
<div class="content-wrapper">
  <div class="upload-section">
    <h3>Upload a document</h3>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Upload</button>
      <button type="reset">Cancel</button>
    </form>
  </div>
  <div class="document-list">
    <h3>Uploaded documents</h3>
    <form method="post">
      {% csrf_token %}
      <ul>
        {% for document in documents %}
        <li class="document-item">
          <input type="checkbox" name="document_ids" value="{{ document.id }}" />
          <a class="document-name" href="{{ document.upload.url }}">{{ document.upload.name }}</a>
          <details>
            <summary>View Details</summary>
            <b>Content Summary:</b>
            <p>{{ document.content_summary }}</p>
            {% if document.wordcloud %}
            <img src="{{ document.wordcloud.url }}" alt="Word Cloud" />
            {% endif %}
          </details> <Br>
        </li>
        {% endfor %}
      </ul>
      <button type="submit" name="delete">Delete Selected</button>
    </form>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles.css' %}" />
